{% load staticfiles %}
<html>
    {% block head %}
        <head>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            <script src="{% static "interface/main.js" %}"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
            <link rel="stylesheet" type="text/css" href= "{% static 'interface/main.css' %}">
            <link rel="stylesheet" type="text/css" href= "{% static 'interface/reset.css' %}">
        </head>
    {% endblock head %}

    <body>

        {% block header %}
            <div class = "header">
                <header>
                    <nav id = "navbar" class='navbar navbar-default navbar-static-top'>

                        <div class="container-fluid">

                            <h1 class="text-center"><span id = "header-box"><a href = "{% url 'interface:index' %}">Welcome to Final Fantasy Football!</a></span></h1>


                            {% if  superuser  %}
                                <div class = "active_user_menu">

                                    <ul>

                                        <li><a href = "{% url 'interface:create_league' %}"><input class = "btn-primary col-xs-3 col-md-3" type = "submit" value= "Create New League"></a></li>
                                        <li><a href = "{% url 'interface:profile' superuser.username %}"><input class = "btn-primary col-xs-3  col-md-3" type = "submit" value= "{{ superuser.username }}'s War Room"></a></li>
                                        <li><a href = "{% url 'interface:logout' %}"><input class = "btn-primary col-xs-3 col-md-3" type = "submit" value= "Log Out"></a></li>
                                        <li><a href = "{% url 'interface:admin_menu' %}"><input class = "btn-danger col-xs-3 col-md-3" type = "submit" value= "Admin"></a></li>

                                    </ul>

                                </div>

                            {% elif active_user %}

                            <div class = "active_user_menu">

                                <ul>

                                    <li><a href = "{% url 'interface:create_league' %}"><input class = "btn-primary col-xs-4 col-md-4" type = "submit" value= "Create New League"></a></li>
                                    <li><a href = "{% url 'interface:profile' active_user.username %}"><input class = "btn-primary col-xs-4  col-md-4" type = "submit" value= "{{ active_user.username }}'s War Room"></a></li>
                                    <li><a href = "{% url 'interface:logout' %}"><input class = "btn-primary col-xs-4 col-md-4" type = "submit" value= "Log Out"></a></li>

                                </ul>

                            </div>
                            {% else %}
                                <div class = "passive_user_menu">
                                    <ul>
                                        <li><a href = "{% url 'interface:login' %}"><input class = "btn-warning col-xs-6 col-md-6" type = "submit" value="Log in"></a></li>
                                        <li><a href = "{% url 'interface:register' %}"><input class = "btn-warning col-xs-6 col-md-6" type = "submit" value= "Sign Up"></a></li>
                                    </ul>
                                </div>

                            {% endif %}
                        </div>
                    </nav>

                </header>
            </div>

        {% endblock header %}

        {% block content %}
        <div class = "content">


        </div>
        {% endblock content %}

        {% block footer %}

        {% endblock footer %}

    </body>

</html>
