{% extends 'interface/base.html' %}
    {% load staticfiles %}

    {% block head %}

        {{ block.super }}

    {% endblock head %}

    {% block header %}

        {{ block.super }}

    {% endblock header %}

    {% block content %}

        <div id = "league_update_form" class = "login_form col-xs-6 col-md-6">
            <h2>Create a New League</h2>
            <form role="form" enctype="multipart/form-data" name="league_form" action="{% url 'interface:create_league' %}" method="POST">
                {% csrf_token %}
                {{ league_form.as_p}}
                <input id="league_update_button" class = "btn-primary" type="submit" value="Update League">
            </form>
         </div>
    {% endblock content %}
