{% extends 'interface/base.html' %}
    {% load staticfiles %}

    {% block head %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
        {{ block.super }}

    {% endblock head %}

    {% block header %}

        {{ block.super }}

    {% endblock header %}

    {% block content %}

        {% if active_user %}

            <div id = "leagues_div" class = "col-xs-5 col-md-5 text-center">
                <h1 id = "league_heading">Leagues:</h1>

                    <ul>
                        {% for league in all_leagues %}
                            <li class = "leagues_links"><a href = "{% url 'interface:league_view' league.slug %}">{{ league.name }}</a></li>
                        {% endfor %}
                    </ul>
            </div>

            <div id = "users_div" class = "col-xs-5 col-md-3 text-center">
                <h1 id = "users_heading">Users:</h1>
                    <ul>
                        {% for user in all_users %}
                            <li class = "users_links"><a href = "{% url 'interface:profile' user.username %}">{{ user.username }}</a></li>
                        {% endfor %}
                    </ul>
            </div>

        {% endif %}

        <div class = "leagues_menu">

        </div>


        <div class = "users_menu">


        </div>



    {% endblock content %}
