{% extends 'interface/base.html' %}
    {% load staticfiles %}

    {% block head %}
        {{ block.super }}

    {% endblock head %}

    {% block header %}

        {{ block.super }}

    {% endblock header %}

    {% block content %}

        {% if active_user or superuser %}

            <div id = "week_list" class =  "col-xs-12 col-md-12 text-center ">
                <ul><h2>2015 Season</h2>
                    {% for week_slug in week_slug_list %}
                        <li class = "week_pick_link">
                        <a href = "{% url 'interface:week_view' week_slug=week_slug %}"><input id="week_button" class = "btn-primary" type="submit" value= "{{ week_slug }}"></a>
                    {% endfor %}
                </ul>
            </div>

            <div id = "leagues_div" class = "col-xs-3 col-md-3 text-center">
                <h1 id = "league_heading">Leagues:</h1>

                    <ul>
                        {% for league in all_leagues %}
                            <li class = "leagues_links"><a href = "{% url 'interface:league_view' league.slug %}">{{ league.name }}</a></li>
                        {% endfor %}
                    </ul>
            </div>

            <div id = "users_div" class = "col-xs-3 col-md-3 text-center">
                <h1 id = "users_heading">Users:</h1>
                    <ul>
                        {% for user in all_users %}
                            <li class = "users_links"><a href = "{% url 'interface:profile' user.username %}">{{ user.username }}</a></li>
                        {% endfor %}
                    </ul>
            </div>

            <div id = "leaderboard_div" class = "col-xs-4 col-md-4 text-center">
                <h1 id = "leaderboard_heading">Leaderboard:</h1>
                    <ul>
                        {% for result in team_record_list  %}

                                <li id = "leaderboard_links"><a href = "{% url 'interface:profile' result.0.slug %}">{{ result.0.name }}</a>:  &nbsp{{ result.1 }}</li>

                        {% endfor %}
                    </ul>
            </div>

        {% endif %}

        <div class = "leagues_menu">

        </div>


        <div class = "users_menu">


        </div>



    {% endblock content %}
