{% extends 'interface/base.html' %}
    {% load staticfiles %}

    {% block head %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
        {{ block.super }}

    {% endblock head %}

    {% block header %}

        {{ block.super }}

    {% endblock header %}


    {% block content %}

        <div class = "leagues_menu">

        </div>


        <div class = "users_menu">


        </div>



    {% endblock content %}
