{% extends 'interface/base.html' %}
    {% load staticfiles %}

    {% block head %}
        {{ block.super }}

    {% endblock head %}

    {% block header %}

        {{ block.super }}

    {% endblock header %}

    {% block content %}

        <div id = "results_list" class = "col-xs-8 col-md-8 text-center">
            <ul>
                <h2>{{ current_league.name }} week {{week}} Leaderboard : </h2>

        {% for team in team_weekly_record_list  %}

                <a href = "{% url 'interface:team_view' league_slug=team.0.league.slug team_slug=team.0.slug %}">{{ team.0.name }}</a>:  &nbsp{{ team.1 }}</li>

        {% endfor %}
            </ul>
        </div>



    {% endblock content %}
