{% extends "interface/base.html" %}
{% load staticfiles %}

    {% block header %}

        {{block.super}}

    {% endblock %}


    {% block content %}

            {% if error %}
                <h2>Error: {{error}}</h2>
            {% endif %}

            <div class = "login_form">

                <h2>Enter your Username and Password to get started!</h2>

                    <form role="form" name="login_form" action="{% url 'interface:login' %}" method="POST">
                            {% csrf_token %}
                            {{ user_form.as_p}}
                        <input id="login_button" class = "btn-primary col-md-1 text-center" type = "submit" value= "Sign in">
                    </form>

            </div>

    {% endblock content %}
