{% extends "interface/base.html" %}
{% load staticfiles %}

    {% block header %}
        {{block.super}}
    {% endblock %}

        {% block content %}

        {% if error %}
            <h2>Error: {{error}}</h2>
        {% endif %}


        <div class = "logout_form">

            <h2>Click Button below to confirm logout</h2>

                <form role="form" name="logout_form" action="{% url 'interface:logout' %}" method="POST">
                        {% csrf_token %}
                    <input id="logout_button" class = "btn-danger col-md-1 text-center" type = "submit" value= "Log Out">
                </form>

        </div>
        {% endblock %}
