{% extends "interface/base.html" %}
{% load staticfiles %}

    {% block header %}
        {{block.super}}
    {% endblock %}

        {% block content %}

        {% if error %}
            <h2>Error: {{error}}</h2>
        {% endif %}

            <p>Click Button below to confirm logout</p>

            <div class = "logout_form">

                    <form name="logout-form" action="{% url 'interface:logout' %}" method="POST">

                        {% csrf_token %}

                        <input class = "btn-danger" type="submit" value="Log Out">

                    </form>

            </div>

        {% endblock %}
