{% extends 'interface/base.html' %}
    {% load staticfiles %}

    {% block head %}

        {{ block.super }}

    {% endblock head %}

    {% block header %}

        {{ block.super }}


    {% endblock header %}

    {% block content %}

        <div class = "matchup">

            <!-- <form name = "pick_em_week" action = "{%url 'interface:make_picks' league_slug=current_league.slug team_slug=current_team.slug week_slug=week_slug%}"> -->
                <h2>Week {{week}} Match-ups:</h2>
                    {% for matchup in matchup_list %}
                        <ul class = "matchups">
                            <li><input type="radio" name= "{{ matchup.id }}" value="{{ matchup.away }}"></li>
                            <li><img src = "{% static 'logos/' %}{{matchup.away|safe}}.jpg"></li>
                            <li><h4>{{ matchup.away }}</h4></li>
                            <li><h1>@</h1></li>
                            <li><h4>{{ matchup.home }}</h4></li>
                            <li><img src = "{% static 'logos/' %}{{matchup.home|safe}}.jpg"></li>
                            <li><input type="radio" name= "{{ matchup.id }}" value="{{matchup.home}}"></li>
                        </ul>
                    {% endfor %}

                <span id = "update_pick_button"><input class = "btn-warning" type = "submit" value = "Update Picks"></span>
            <!-- </form> -->
        </div>

        <script type="text/javascript">
            current_picks_data = {{ json_data| safe }};
            for( i in current_picks_data.picks){
                console.log(i)
            }
        </script>

    {% endblock content %}
