{% extends "interface/base.html" %}
    {% load staticfiles %}

    {% block header %}

        {{ block.super }}

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>

    {% endblock header %}

    		{% block content %}


            {% if error %}
                <h2>Error: {{error}}</h2>
            {% endif %}

            {{ form.errors }}
            {{ form.non_field_errors }}

                <div id="user_profile">
        			<h1 class = "this-profiled_user"><strong>{{ profiled_user.username }} </strong></h1><br />


                            <ul class = "profile">
                                <li><img src = "{% static 'users/' %}{{ viewed_user_profile.picture }}"></li>
                                    <li>
                            </ul>
                                        <ul class = "user_info">
                                            <li><strong>Name: </strong> {{ profiled_user.first_name }} {{ profiled_user.last_name }}</li>
                                            <li><strong>Email: </strong> {{ profiled_user.email }} </li>
                                            <li><strong>About me: </strong> {{ viewed_user_profile.about }}</li>
                                            <li><strong>Member Since: </strong> {{ profiled_user.date_joined }}</li>
                                            <li><strong>Last Login: </strong> {{ profiled_user.last_login }}</li>
                                    </li>
                            </ul>

                        <br/>
                        <br/>
                        <br/>
                        <br/>
                            {% if active_user == profiled_user %}

                                <form enctype="multipart/form-data" name="profile_form" action="{% url 'interface:profile'  profiled_user.username %}" method="POST">
                        				{% csrf_token %}
                                        {{ user_profile_form.as_p}}
                                        {{ extended_profile_form.as_p}}
        			             <input class = "btn-primary" type="submit" value="Update">
                    			</form>
                            {% endif %}
                </div>

                <div class = "user_team_list">
                    <h2>{{ profiled_user.username }}'s Teams</h2>
                        <ul>
                            {% for team in user_teams %}
                                <li><a href = "{% url 'interface:team_view' team.league.slug team.slug %}"> {{ team.name }} </a></li>
                            {% endfor %}
                        </ul>



        		</div>

    		{% endblock content %}
