{% extends "interface/base.html" %}
{% load staticfiles %}

    {% block header %}
        {{block.super}}
    {% endblock %}


    {% block content %}


    {% if error %}
        <h2>Error: {{error}}</h2>
    {% endif %}

    <div class = "register_form">

        <h2>Enter a Username and Password to join</h2>

            <form role="form" name="register_form" action="{% url 'interface:register' %}" method="POST">
                    {% csrf_token %}
                    {{ user_form.as_p}}
                <input id="register_button" class = "btn-primary col-md-1 text-center" type = "submit" value= "Sign Up">
            </form>

    </div>


    {% endblock content %}
