{% extends 'interface/base.html' %}
    {% load staticfiles %}

    {% block head %}

        {{ block.super }}

    {% endblock head %}

    {% block header %}

        {{ block.super }}

    {% endblock header %}

    {% block content %}

        <div class = "team_profile">
            <h2><strong>{{current_team.name}}</strong></h2>

                <ul>
                    <li><img src = "{% static 'team/' %}{{ current_team.mascot}}g"></li>
                    <li><strong>League: </strong><a href ="{% url 'interface:league_view' current_league.slug %}">{{ current_league.name }}</a></li>
                    <li><strong>Manager: </strong><a href = "{% url 'interface:profile' current_team.manager %}">{{ current_team.manager }}</a></li>
                    <li><strong>Record: </strong>{{ current_team.wins }} - {{current_team.losses }}</li>
                </ul>
        </div>

        {% if current_team.manager == active_user %}
            <form form enctype="multipart/form-data" name="team_form" action="{% url 'interface:team_view' league_slug=current_league.slug team_slug=current_team.slug %}" method="POST">

                    {% csrf_token %}
                    {{ team_form.as_p }}

                <input class = "btn-primary" type = "submit" value= "submit">

            </form>
        {% endif %}

        <div class = "week_list">
            <ul><h2>{{ current_team.name }}'s 2014 Season</h2>
                {% for week in week_list%}
                    <li class = "week_pick_link"><a href = "{% url 'interface:matchups' league_slug=current_league.slug team_slug=current_team.slug week_slug=week.slug %}">Week {{ week.week }}</a></li>
                {% endfor %}
            </ul>
        </div>

    {% endblock content %}
