header .main_page_link{
    border-bottom: .1em solid black;
}

.root_menu li {
    display:inline-block;
    list-style-type: none;
    margin-left:1em;
    margin-right:1em;
    float:right;
    font-size:1.5em;
}

a {
    text-decoration:none;
}

li {
    list-style-type:none;
}

.footer{
	margin:auto;
	position: static;
	border-top: .1em solid black;
}
.profile img {
	width: 30%;
	height:inherit;
}
.team_profile img {
    width: 30%;
    height: inherit;
}
#user_profile {
	margin: auto;
	display: inline;
}

#user_profile ul{
	margin: .5em;
}

.profile {
	display: inline-block;
	float:left;
}
.user_info li{
	margin: .5em;
}

.user_list {
	margin-top:.69em;
	float:left;
}

.league_list {
	margin-top:1em;
	float:right;
}
.league_profile {
    float:left;
    margin-top:2em;
}
.user_team_list {
	float:right;
}
.team_list h3{
	float:right;
	margin-top: 3em;

}
.team_list {
	float:right;

}
.team_list p {
	margin-left:1em;
}
.week_list {
	float:right;
	margin-right:40em;
	clear:left;
}

.matchups: {
    margin-top:5em;
}
.matchup img{
	width: 45%;
	height: inherit;
}
.matchup ul li {
	margin:.15em;
	display:inline-block;
}
