{% extends "game/base.html" %}
{% load staticfiles %}

    {% block header %}
        {{block.super}}
    {% endblock %}


    {% block content %}


    {% if error %}
        <h2>Error: {{error}}</h2>
    {% endif %}

            <div class = "registration_form">

                <h2>Sign up!</h2>

                    <form name="register-form" action="/users/register/" method="POST">

                            {% csrf_token %}

                            {{ user_form.as_ul }}

                            <input type="submit" value="Register">

                    </form>

            </div>

    {% endblock %}
